.site-header {
    background:#FFECA5;
    max-width: 100%;
    padding: 1.5%;
}

.clearfix:after {
    clear:both; 
    content: ".";
    display: block;
    height: 0;
    line-height:0;
    visibility: hidden;
}

.heading-group-h1 {
    max-width: 80%;
    float: left;
}

.nav-list-ul {
    display: none; 
    clear: both;
}

article {
    padding: 1.5%;
}

.pull-left, .pull-right {
    max-width: 100%;
}

@media only screen and (max-width:640px ) {
    .hamburger {
        display: block;
        float: right;
        font-size: 3rem;
    } 
    .nav-list-ul {
        display: none;
        clear: both;
    }

    nav:hover .nav-list-ul {
        display: block;
        list-style-type: none;
        margin-left: -5%;
    }
}

@media only screen and (min-width: 641px) {
    .nav-list-ul {
        display: inline-block;
        padding-left: 0px;
        width: 100%;
    }
    .nav-list-ul li {
        display: inline-block;  
        padding: 1.5%; 
     } 
    .nav-list-ul a {
        text-decoration: none; 
    }
    .hamburger {
        display: none;
    }
    
} 

